@using System.Security.Claims

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section class="header-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <p>Hello @User.Identity.Name!</p>
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="btn btn-default" value="Log out" />
            }
        }
        else
        {
            <p>@Html.ActionLink("Register", "Register")</p>
            <p>@Html.ActionLink("Log in", "Login")</p>
        }
    </section>
    <div>
        @RenderBody()
    </div>
</body>
</html>
